@font-face {
  font-family: 'GangWolfik';
  src: url('.\assets\fonts\Tenkai DEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'GangWolfik', sans-serif;
}

.main-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0));
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  animation: slideup 1s ease forwards;
}

@keyframes slideup {
  from {
    transform: translateY(100%); 
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}

h1 {
  font-family: 'GangWolfik', sans-serif;
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  margin: 0;
  z-index: 2;
  animation: appear 2s ease forwards;

}

@keyframes appear {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
