@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: 'Tenkai';
  src: url('./assets/fonts/Tenkai DEMO.otf') format('opentype'); /* Fix format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gang of Three';
  src: url('./assets/fonts/go3v2.ttf') format('truetype'); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: 'Gang of Three', sans-serif;
  --secondary-font: 'Tenkai', sans-serif;
  --japanese-font: 'Dela Gothic One', sans-serif;
  --main-color: #dd3f3f;
  --sub-color: #0f3252;
  --header-font: clamp(3rem, 2.5vw, 5rem);
  --text-font: clamp(0.7rem, 2.5vw, 1.2rem);
}

*{
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Tenkai', sans-serif;
}

.loading-screen{
  height: 100vh;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}


.main-cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  position: relative;
  background-color: white;
  flex-direction: column;
  overflow-x: hidden;
}

/* HERO PAGE */

.hero-page{
  height: 100vh;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay{
  height: 100%;
  width: 100%;
  z-index: 2;
  background: radial-gradient(circle,rgba(63, 94, 251, 0) 0%, rgba(0, 0, 0, 1) 90%);

}

.hero-img{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

.hero-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
  z-index: 2;

}

.sun {
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #dd3f3f, transparent);
  position: absolute;
  border-radius: 50%;
  margin-top: 2em;
  z-index: 1;
}

.hero-name{
  height: 200px;
  width: 400px;
  position: absolute;
  opacity: 1;
  z-index: 2;
  background-image: radial-gradient(circle at center, white 10%, transparent 40%); /* Specify center of gradient */

}

.bg-name {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-name h2 {
  font-family: var(--japanese-font);
  font-size: 5rem;
  color: var(--sub-color);
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  font-family: var(--main-font);
  color: white;
  font-size: 4rem;
  -webkit-text-stroke: 1px var(--main-color);

}


.header{
  height: 3em;
  width: 80%;
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.logo h1 {
  color: var(--sub-color);
  font-family: var(--main-font);
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  -webkit-text-stroke: 1px var(--main-color);
}

.logo img{
  height: 40px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.header .navs{
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
}

.header .navs button{
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  border: 0px;
  background-color: transparent;
  color: black;
  padding: 0;
  -webkit-text-stroke: 0.2px var(--main-color);
  padding: 0.5em;
  transition: all 0.3s ease;
  outline: none;
}

.navs button.active {
  border: 2px solid var(--main-color);
  outline: none;
}


.clouds{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.clouds img{
  height: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* ABOUT PAGE */

/* ABOUT PAGE */

.about-page{
  height: 100vh;
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: row;
  opacity: 0;
  visibility: 0;
  transition: all 1s ease;
}

.about-page.visible, .skills-page.visible{
  opacity: 1;
  visibility: visible;
}

.abouts{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sub-color);
}

.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  justify-content: space-evenly;
  height: 80%;
}

.about-me img{
  height: 100%;
  object-fit: contain;
}

.about-me h3{
  font-size: var(--header-font);
  -webkit-text-stroke: 0.5px var(--main-color);

}

.about-me p{
  font-family: var(--main-font);
  -webkit-text-stroke: 0.5px var(--main-color);
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);

}

.call-to-action{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.c1{
  display: flex;
  align-items: center;
  color: #0f3252;
}

/* ABOUT PAGE */

/* SKILLS PAGE */

.skills-page{
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: 0;
  transition: all 1s ease;
}

.skills-page.visible{
  opacity: 1;
  visibility: visible;
  color: black;
}



/* SKILLS PAGE */


@media (max-width:1600px) {

  .clouds{
    bottom: -6em;
  }
}



@media (max-width:1200px) {
  .hero-img img{
    width: auto;
  }

  .about-page, .skills-page{
    width: 100%;
  }

  .sun{
    height: 150px;
    width: 150px;
  }

  .clouds{
    bottom: -4em;
  }
}

@media (max-width:768px) {

  .about-page{
    flex-direction: column;
  }

  .abouts{
    height: 50%;
    width: 100%;
  }

  .about-me{
    height: 100%;
    width: 80%;
  }
}
